body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    padding: 0;
	margin: 0;
    color: black;
}

div, p, input, header, a, form {
	box-sizing: border-box;

}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	font-weight: bold;
}

h2 {
    font-weight: bold;
    font-size: 38px;
    color: #543024;
    text-align: left;
    margin-bottom: 47px;
}

h3 {
    font-weight: bold;
    font-size: 19px;
    color: #543024;
}

section {
    padding-top: 98px;  
}

footer {
    padding-top: 116px;
    padding-bottom: 119px;
}

ul,li {
	display: block;
	padding: 0;
	margin: 0;
}

p {
    margin: 0;
	padding: 0;
}

a {
    text-decoration: none;
    cursor: url('../img/cursor.svg'), pointer;
}


.header {
    background: url('../img/header-bg.jpg') no-repeat center top / cover;
    padding-top: 43px;
    color: #fff;
    padding-bottom: 60px;
}



.header a {
    color: #fff;
}

.btn {
    background: #FF7D34;
    border-radius: 69px;
    color: #fff;
    width: 209px;
    padding: 15px 41px;
    font-weight: bold;
    font-size: 17px;
    display: block;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    cursor: url('../img/cursor.svg'), pointer;
}


  #myModal {
    width: 350px; 
    height: 400px;
    padding: 18px 9px;
    border-radius: 4px;
    background: #fafafa;
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    margin: auto;
    display: none;
    opacity: 0;
    z-index: 38;
    text-align: center;
  }

  #myModal #myModal__close {
    width: 21px; height: 21px;
    position: absolute;
    font-size: 29px;
    top: 1px; right: 11px;
    cursor: pointer;
    display: block;
  }

  #myOverlay {
    z-index: 37;
    position: fixed;
    background: rgba(0,0,0,.7);
    width: 100%; height: 100%;
    top: 0; left: 0;
    cursor: pointer;
    display: none;
  }

  .form-window h3 {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
}

.form-window input {
    background: #FFFFFF;
    border: 1px solid rgba(39, 52, 86, 0.26);
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
    display: block;
    width: 100%;
    padding: 12px 26px;
    margin-bottom: 15px;
    color: rgba(39, 52, 86, 0.56);
}

.form-window button {
    width: 100%;
    border: none;
}


.btn:hover {
    background: #D8601D;
    transition: all 0.5s ease;
}

.btn-ghost {
    display: block;
    border: 1px solid #FF7D34;
    border-radius: 69px;
    padding: 15px 29px;
    font-weight: bold;
    font-size: 17px;
    color: #FF7D34;
    width: 247px;
    margin-top: 58px;
}

.btn-ghost:hover {
    background-color: #FF7D34;
    color: #fff;
    transition: all 0.5s ease;
}
.container {
	width: 1200px;
	margin: 0 auto;
}

.nav {
    display: flex;
    align-items: center;
}

.logo {
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.055em;
    display: block;
    padding-left: 37px;
    background: url('../img/logo.svg') no-repeat left center /contain;
    margin-right: 101px;

}

.menu {
    display: flex;
    margin-right: 74px;

}

.menu li {
    color: #000;
    border: 1px solid transparent;
}

.menu li:not(:last-child) {
    margin-right: 48px;
}

.menu a{
    padding-bottom: 10px;
}

.menu a:hover {
    border-bottom: 1px solid #FFF;
    transition: all 0.5s ease;
}

.country {
    font-size: 14px;
    display: flex;
    flex-direction: column;
}

.name {
    font-weight: bold;
}

.call {
    display: flex;
    color: #fff;
    align-items: center;
    margin-left: auto;
    /* margin-left: 53px; */
    /* margin-right: auto 0; */
}

.call-btn {
    font-size: 14px;
    font-weight: bold;
    border: 1px solid #FFFFFF;
    display: block;
    width: 171px;
    box-sizing: border-box;
    border-radius: 100px;
    padding: 11px 27px;
    text-align: center;
    margin-right: 21px;
}

.call-btn:hover {
    background: #fff;
    color: #5D8578;
    transition: all 0.5s ease; 
}

.menu-btn {
    margin-left: 110px;
    width: 30px;  
    display: none;
}

.offer {
    margin-top: 193px;
    text-align: center;
    
}

.offer h1 {
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 18px;
}

.offer p {
    font-size: 17px;
    width: 462px;
    margin: 0 auto;
    margin-bottom: 31px;
    line-height: 1.38em;
}

.offer .btn {
    margin: 0 auto;
    margin-bottom: 184px;
    
}

.arrow {
    display: block;
    height: 15px;
    width: 15px;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    transform: rotate(45deg);
    margin: 180px auto 0;
}

#button-up{
    display: none;	
    opacity:0.5;
    filter:alpha(opacity=50);
    position: fixed;
    right: 20px;
    bottom: 50px;			
    color: #000;
    transition: .3s;
  }
   
  #button-up:hover{
    cursor: pointer;
    opacity: 1;
    filter:alpha(opacity=100);
    transition: .3s;
    color: #D8601D;
  }

.destinations {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.destinations li { 
    cursor: url('../img/cursor.svg'), pointer;

}

.destinations li:nth-last-child(-n+2){ 
    margin-top: 31px;
}

.destinations-item {
    display: flex;
    width: 585px;
    box-shadow: 0px 17px 50px rgba(32, 40, 69, 0.14);
    border-radius: 15px;
}
.destinations-item:hover {
    box-shadow: 0px 7px 20px rgba(32, 40, 69, 0.25);
}
.destinations-item img {
    display: block;
    border-radius: 15px 0px 0px 15px;
}

.destinations-content {
    padding: 35px 28px 0 30px;
}
.destinations-content p {   
    font-size: 13px;
}
.destinations-content h3 {
    margin: 16px 0 12px 0;
}
.destinations-details {
    display: flex;
    align-items: center;

}
.destinations-details span {
    font-size: 13px;
    color: #fff;
    background: #EE3C5C;
    border-radius: 30px;
    padding: 3px 13px;
    margin-right: 1.73px;

}

.destinations-date {
    font-size: 13px;
    color: #EE3C5C;
    margin-left: 7px;
}

.destinations-more {
    display: none;
}

.destinations-visible {
    display: flex;
}

.destinations-visible li:nth-child(-n+2) {
    padding-top: 35px;
}



.about-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.about-content{
    align-items: center;
}

.about-text {
    width: 572px;
}

.about-text h3  {
    margin-bottom: 25px;
}
.about-text p {
    line-height: 1.5em;
    margin-bottom: 25px;
}

.about-text p:last-child {
    margin-bottom: 0;
}

.about-content img{
    display: block;
    border-radius: 15px;
    width: 585px;
}

.cont {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    width: 994px;
}

.form {
    box-shadow: 0px 17px 50px rgba(32, 40, 69, 0.14);
    border-radius: 20px;
    width: 601px;
    padding: 58px 64px 97px;
}

.form h3 {
    width: 367px;
    margin-bottom: 45px;
}

.form input {
    background: #FFFFFF;
    border: 1px solid rgba(39, 52, 86, 0.26);
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
    display: block;
    width: 100%;
    padding: 19px 26px;
    margin-bottom: 15px;
    color: rgba(39, 52, 86, 0.56);
}

.form button {
    width: 296px;
    border: none;
    margin-top: 20px;
    padding: 22px 83px;
    cursor: url('../img/cursor.svg'), pointer;
}


.tel-number {
    display: flex;
    flex-direction: column;
    
}

.tel-number img {
    width: 39px;
    margin: 0 auto;
    margin-bottom: 23px;
}

.tel-number span {  
    font-weight: bold;
    font-size: 20px;
    color: rgba(114, 52, 26, 0.89);
}

.footer {
    font-size: 14px;
    color: rgba(114, 52, 26, 0.6);
    text-align: center;
}

@media screen and (max-width: 1200px) {
    .container {
        width: 960px;
    }

    .call-btn {
        width: 168px;
        padding: 9px 22px;
    }

    .menu {
        display: none;
    }

    .country {
        display: none;
    }

    .menu-btn {
        display: block; 
    }

    .destinations-item {
        display: flex;
        width: 48%;
    }

.destinations-item img {
       width: 48%; 
    } 

    .destinations li:nth-last-child(-n+2){ 
        margin-top: 31px;
    }

    .destinations-details span {
        font-size: 9px;
        padding: 3px 4px;
    }

    .destinations-content {
        padding: 15px 28px 0 15px;
    }

    .destinations-content p {
        font-size: 11px;
    }

    .cont {
        width: 100%;
    }

    .about-text {
        width: 470px;
    }

    .about-content img {
        width: 470px;
    }
    
}
@media screen and (max-width: 992px) {
    .container {    
        width: 720px;
    }

    .destinations-item {
        width: 75%;
    }

    .destinations li:nth-last-child(-n+3){ 
        margin-top: 20px;
    }

    .about-content {
        flex-wrap: wrap;
    }

    .about-text {
        width: 95%;
    }

    .about-text p:not(:last-child) {
        margin-bottom: 15px;
    }


    .tel-number span {
        font-size: 15px;
    }

    .about-content img {
        width: 75%;
        margin-top: 10px;
    }
.form {
    width: 75%;
}
    

}
@media screen and (max-width: 768px) {
    .container {
        width: 540px;
    }
    section {
        padding-top: 50px;
    }
    .menu-btn {
        margin-left: 20px;
    }
    .logo {
    margin-right: 10px;
    }
    .call-btn {
        margin-right: 10px;
    }
    .destinations-content h3 {
        margin: 10px 0 8px 0;
    }
    h2 {
        margin-bottom: 30px;
    }
    .about-content img {    
        width: 100%;
    }

    .cont {
        flex-direction: column;
    }

    .form {
        width: 100%;
    }

    .tel-number {
        margin-top: 35px;
    }
    footer {
        padding-top: 70px;
        padding-bottom: 50px;
    }
}


@media screen and (max-width: 576px) {
    .container {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }

    .call {
        display: none;
    }
    .nav {
        justify-content: space-between;
    }
    h1 {
        font-size: 28px;
    }

    h3 {
        font-size: 17px;
    }
    .offer {
        margin-top: 150px;
    }
    .offer p {
        width: 75%;
        font-size: 14px;
    }
    
    .destinations-item {
        flex-direction: column;
        margin: 0 auto;
        font-size: 10px;
        width: 100%;
    }

    .destinations-item img {
        border-radius: 15px 15px 0px 0px;
        width: 100%;
    }

    .destinations-date {
        margin-right: 0px;
    }

    .destinations-content {
        padding: 15px 28px 15px 15px;
    }

    .destinations-content p:last-child {
        font-size: 13px;
    }

    .destinations-details span {
        font-size: 11px;
    }
    .destinations-details p:first-child {
        font-size: 11px;
    }

    .form {
        padding: 27px 41px 56px 25px;
    }

    .form h3 {
        width: 100%;
        margin-bottom: 11px;
    }

    .form input {
        width: 100%;
        height: 27px;
        font-size: 10px;
    }
    
    .form button {
        width: 223px;
        padding: 11px 63px;
        font-size: 10px;
    }

    .tel-number span {
        font-size: 12px;
    }

    .tel-number img {
        width: 25px;
    }

}
